<div class="container">
  <p id="notice"><%= notice %></p>

  <div class="blog-text">
    
    <p><strong>Content</strong>：<%= @blog.content %></p>
  </div>

  <p>List of Comments(Contents below are important)</p>

  <!-- Get an HTML id of this comments_area and update only the part of that div -->
  <div id="comments_area">
    <!-- Render to display the posted comment list on the blogs detail page -->
    <%= render partial: 'comments/index', locals: { comments: @comments, blog: @blog } %>
  </div>

  <!-- Render to display the comment field on the blogs detail page -->
  <%= render partial: 'comments/form', locals: { comment: @comment, blog: @blog } %>

  <%= link_to 'Edit', edit_blog_path(@blog) %> |
  <%= link_to 'Return', blogs_path %>
</div>